# Get by ID

In [1]:
Car.objects.get(id=1)

# Select all

In [2]:
q=Car.objects.all()

In [3]:
print(q.query)

SELECT "appname_car"."id", "appname_car"."brand", "appname_car"."model", "appname_car"."price" FROM "appname_car"

# Create a record

In [4]:
#create by function create()
q=Car.objects.create(brand='Toyota', model='Sienta', price=800000)

In [13]:
Car.objects.all()

In [20]:
#create by constructor
x=Car(brand='Toyota', model='Sienta2', price=800000)
x.save()

In [21]:
type(x)

appname.models.Car

In [22]:
Car.objects.all()

# Iteration

In [5]:
for i in Car.objects.all():
    print(i.id,i, i.price)

1 toyota vios 500.00
2 Toyota Sienta 800000.00

In [6]:
for i in Car.objects.filter(price=500000):
    print(i, i.price)

https://docs.djangoproject.com/en/2.2/ref/models/querysets/#gt

In [9]:
'''lt <'''
for i in Car.objects.filter(price__lt=800000):
    print(i, i.price)

toyota vios 500.00

In [10]:
'''lte <='''
for i in Car.objects.filter(price__lte=800000):
    print(i, i.price)

toyota vios 500.00
Toyota Sienta 800000.00

In [14]:
'''gte >'''
for i in Car.objects.filter(price__gt=800000):
    print(i, i.price)

In [15]:
'''gte >='''
for i in Car.objects.filter(price__gte=800000):
    print(i, i.price)

Toyota Sienta 800000.00

In [16]:
for i in Rent.objects.all():
    print(i)

In [31]:
Rent.objects.all()