## Python Workshop3
use Libary get post push patch delete

In [72]:
import requests
import json

In [81]:
url = 'http://localhost:8000/user/'

### Get

In [74]:
res = requests.get(url).json()
res

[{'id': 1,
  'name': 'Sothana',
  'lastname': 'vicharueang',
  'age': 20,
  'tel': '0805267718'},
 {'id': 3,
  'name': 'saran',
  'lastname': 'wild',
  'age': 21,
  'tel': '0999999999'}]

### Post

In [75]:
post = requests.post(url,{
    "name": "saran",
    "lastname": "wild",
    "age": 21,
    "tel": "0999999999"})

In [76]:
post

In [77]:
res = requests.get(url).json()
res

[{'id': 1,
  'name': 'Sothana',
  'lastname': 'vicharueang',
  'age': 20,
  'tel': '0805267718'},
 {'id': 3,
  'name': 'saran',
  'lastname': 'wild',
  'age': 21,
  'tel': '0999999999'},
 {'id': 4,
  'name': 'saran',
  'lastname': 'wild',
  'age': 21,
  'tel': '0999999999'}]

### Push

In [89]:
url+str(res[0]['id'])+"/"

'http://localhost:8000/user/1/'

In [91]:
put = requests.put(url+str(res[0]['id'])+"/",{
    "id": 1,
    "name": "Sothana",
    "lastname": "vicharueang",
    "age": 20,
    "tel": "0948750055"
})
put

In [92]:
res = requests.get(url).json()
res

[{'id': 1,
  'name': 'Sothana',
  'lastname': 'vicharueang',
  'age': 20,
  'tel': '0948750055'},
 {'id': 3,
  'name': 'saran',
  'lastname': 'wild',
  'age': 21,
  'tel': '0999999999'},
 {'id': 4,
  'name': 'saran',
  'lastname': 'wild',
  'age': 21,
  'tel': '0999999999'}]

### Patch

In [94]:
patch = requests.patch(url+str(res[1]['id'])+"/",{
    "name": "Job",
    "lastname": "Saran",
    "age": 19,
    "tel": "0999999999"
})
patch

In [95]:
res = requests.get(url).json()
res

[{'id': 1,
  'name': 'Sothana',
  'lastname': 'vicharueang',
  'age': 20,
  'tel': '0948750055'},
 {'id': 3, 'name': 'Job', 'lastname': 'Saran', 'age': 19, 'tel': '0999999999'},
 {'id': 4,
  'name': 'saran',
  'lastname': 'wild',
  'age': 21,
  'tel': '0999999999'}]

### Delete

In [96]:
delete = requests.delete(url+str(res[1]['id'])+"/")
delete

In [97]:
res = requests.get(url).json()
res

[{'id': 1,
  'name': 'Sothana',
  'lastname': 'vicharueang',
  'age': 20,
  'tel': '0948750055'},
 {'id': 4,
  'name': 'saran',
  'lastname': 'wild',
  'age': 21,
  'tel': '0999999999'}]